<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(PizzaLayout)">
                <NotAuthorized>
                    <h3>Упс, у вас нет доступа для просмотра страницы.</h3>
                    <h5>Пожалуйста <a href="login">Авторизуйтесь</a> или <a href="register">Зарегистрируйтесь</a> </h5>
                </NotAuthorized>    
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(PizzaLayout)">
                <p role="alert">Sorry, there's nothing at this address. (Client/App.razor)</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
